@import "tailwindcss";


:root {
    --primary-color:oklch(12.9% 0.042 264.695);
    --secondary-color: oklch(85.9% 0.035 264.695);
    --background-color: oklch(98.9% 0.012 264.695);
    --text-color: oklch(12.9% 0.042 264.695);
    --btn-primary: oklch(12.9% 0.042 264.695);
}


[data-theme="dark"] {
    --primary-color: oklch(88.9% 0.035 264.695);
    --secondary-color: oklch(12.9% 0.042 264.695);
    --background-color: oklch(12.9% 0.042 264.695);
    --text-color: oklch(88.9% 0.035 264.695);
    --btn-primary: oklch(88.9% 0.035 264.695);
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

/*.bg-primary {*/
/*    background-color: var(--primary-color);*/
/*}*/
.bg-secondary {
    background-color: var(--background-color);
}
.btn-primary {
    background-color: var(--btn-primary);
    color: var(--background-color);
}
